.buttons {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.hideDoneButton {
  border: none;
  margin: 0 0 0 20px;
  background: transparent;
  transition: 1s;
  color: #44a7a7;
}

@media (max-width: 767px) {
  .hideDoneButton {
    flex-wrap: wrap;
    flex-basis: 100%;
    margin: 10px;
  }
}

.makeAllDone:disabled {
  color: #ccc;
}
.makeAllDone {
  border: none;
  margin: 0 0 0 20px;
  background: transparent;
  transition: 1s;
  color: #44a7a7;
}


