.buttons {
  display: flex;
  flex-direction: row-reverse;
}
  



.hideDoneButton  {
color: white;
background-color: #326c86;
transition: 1s;


}

.hideDoneButton:hover {
  background:#593ee0;
  transform: scale(1.5);
}

.finishButton {
  color: white;
background-color: #326c86;
transition: 1s;
}

.finishButton:hover {
  background:#593ee0;
  transform: scale(1.5);
}

.section__header {
display: flex;
justify-content: flex-end;
flex-direction: row-reverse;
flex-wrap: nowrap;

align-items: stretch;
}

.section__buttons {
  display:flex;
  justify-content: flex-end;
}