.buttons {
  display: flex;
  flex-direction: row-reverse;
}
  
.hideDoneButton  {
background: transparent;
transition: 1s;
}

.hideDoneButton:hover {
  background: transparent;
  transform: scale(1.5);
}

.finishButton {
background: transparent;
transition: 1s;
}

.finishButton:hover {
  background: transparent;
  transform: scale(1.5);
}

